body {
  background-color:#EEE;
}

#page {
  max-width: 750px;
  margin:auto;
  padding:20px;
}

h1 {
  font-weight:100;
  margin-bottom: 30px;
  margin-top: 70px;
}

.label {
  text-align:center;
}

.hbox {
  display:flex;
  flex-direction:row;
}

.vbox {
  display:flex;
  flex-direction:column;
}

.flex {
  flex:1;
}

.image_container {
    width:100%;
    max-width: 120px;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    transition: opacity .2s;
    margin:0px;
    padding:0px;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 10px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 10px;
    background: #4CAF50;
    cursor: pointer;
  }

canvas {
  image-rendering: pixelated;
  width:120px;
  height:120px;
}

button {
  margin: 5px;
  margin-left: 0px;
  padding: 5px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 20px;
}

button:hover {
  background-color: #EEF;
}

button:active {
  background-color: #AAF;
}

#loading {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index:1;
}

.disabled {
  display:none;
}

.loader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 50vmin;
    height: 50vmin;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#parent_button {
  position:absolute;
  left:0;
  top:0;
  color:black;
  text-decoration:none;
  margin:10px;
  padding: 5px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 20px;
}

#parent_button:hover {
  background-color: #EEF;
}

#parent_button:active {
  background-color: #AAF;
}
